body {
		padding:0;
		margin:0;
		min-width: 630px;      /* 2x (LC fullwidth +
                            CC padding) + RC fullwidth */
		font-family: 'Open Sans', sans-serif;
		font-size:13px;
		background-color: #F7F7F7;
		color: #4F5255;
	}
	
h1 {	
		padding:0;
		margin:0;
		font-size: 26px;
		color: #4F5255;
}

form {
	margin: 0;
	padding: 0;
	font-size:13px;
	background-color: white;
	width: 90%;
	border: solid 1px #B7B7B7;
	padding: 18px;
	margin-left: 1px;
}

form h2 {	
		padding:0;
		margin:0;
		font-size: 14px;
		color: #0884C4;
		padding-bottom: 10px;
		padding-left: 2px;
}

form table tr td:first-child {
	width: 150px;
	color: #4F5255;
	vertical-align: text-top;
}

form label {
	
}

form input[type="text"], form input[type="password"] {
	width: 200px;
	height: 20px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #1b88c7;
}
	
#container {
		padding-left: 220px;   /* LC fullwidth */
		padding-right: 0px;  /* RC fullwidth + CC padding */
}
#container .column {
		position: relative;
		float: left;
}
#center {
		padding: 0;    /* CC padding */
		width: 100%;
}
#left {
		width: 220px;          /* LC width */
		padding: 0px;       /* LC padding */
		right: 220px;          /* LC fullwidth + CC padding */
		margin-left: -100%;
		min-height: 100vh;
		background-color: #D8D8D8;
		border-right: solid 1px #848A92;
}
#right {
		width: 130px;          /* RC width */
		padding: 0 10px;       /* RC padding */
		margin-right: -190px;  /* RC fullwidth + CC padding */
		background-color: green;
}

#footer {
  clear: both;
}/*** IE Fix ***/
* html #left {
  left: 130px;           /* RC fullwidth */
}

#submit_button {
	display: none;
}

#form_message {
	display: none;
}

.c_block, .c_block_ck {
	position: relative;
	float: left;
	height: auto;
	width: -moz-calc(100% - 26px);
	width: -webkit-calc(100% - 26px);
	width: -o-calc(100% - 26px);
	width: calc(100% - 26px);
	margin-left: 26px;
	padding-top: 20px;
}

.p_heading {
	float: left;
	font-size: 11px;
	width: 100%;
	line-height: 26px;
	background-color: #D8D8D8;
	border-bottom: solid 1px #848A92;
	color: #4F5255;
	text-align: center
}

.p_heading span {

}

.option_box {
	width: 280px;
}

.option_box a {
	font-size: 11px;
	
}

.cs_info_box, .cs_info_box_small {
	float: left;
	height: auto;
	background-color: #FFFFFF;
	border: solid 1px #c7c8c8;
	padding-bottom: 22px;
}

.cs_info_box {
	width: 98%;
}

.cs_info_box_small {
	width: 500px;
}

.cs_info_box_small table {
	margin: 0;
	padding: 0;
	padding-top: 12px;
	padding-left: 13px;
}

.cs_info_box_small td {
	margin: 0;
	padding: 0;
	width: 200px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
}

.cs_info_box  h2, .cs_info_box_small h2 {
	padding: 0;
	margin: 0;
	color: #4F5255;
	font-size: 14px;
	padding-left: 14px;
	padding-top: 24px;
}

.cs_info_box_header {
	float: left;
	width: 100%;
	height: auto;
}

.cs_info_box_links {
	float: left;
	width: 300px;
	height: auto;
}

.cs_info_box_links ul, .cs_info_box_small  ul {
	padding: 0;
	margin: 0;
	padding-top: 10px;
	padding-left: 16px;
	list-style-type: none;
}

.cs_info_box_links li, .cs_info_box_small  li{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
}

.cs_info_box_links span.oi {
	padding-right: 8px;
}

.cs_info_box_links a {
	color: #FC6107;
	text-decoration: none;
	font-size: 14px;
}

a:hover {
    color: #E54906;
}

a:active {
    color: #E54906;
}

.cs_info_box h1 {
	padding: 0;
	margin: 0;
	color: #4F5255;
	font-size: 22px;
	padding-left: 14px;
	padding-top: 18px;
}

span.cs_info_section {
	display: inline-block;
	float: left;
	width: 140px;
	padding-top: 6px;
}


#ckeditor_form {
	display: none;
}

.pop_up, .pop_up_wide {
        display: none;
        position: absolute;
        top: 33%;
        left: 37%;
        width: 250px;
        padding: 16px;
        border: 1px solid #989DA4;
        z-index:1002;
        overflow: auto;
		text-align: center;
		vertical-align: center;
		border-radius: 9px;
		font-size: 13px;
		color: #788A98;
		background: rgb(245,249,252); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(245,249,252,1) 0%, rgba(228,230,233,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(245,249,252,1) 0%,rgba(228,230,233,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(245,249,252,1) 0%,rgba(228,230,233,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fc', endColorstr='#e4e6e9',GradientType=0 ); /* IE6-9 */
    }

.pop_up {
	line-height: 80px;
}	
	
.pop_up_wide {
	display: none;
	 width: 500px;
	 margin-left: -250px;
	 top: 38%;
	 left: 50%;
	 height: 134px;
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
border: 1px solid #a9abae;
-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
color: #545658;
}

.pop_up_wide_msg {
	float: left;
	width: 100%;
	font-size: 15px;
	padding-top: 20px;
	padding-bottom: 16px;
}
	
.menuform {
	
}

.menuform span.icon_fld {
	float: left;
	display: inline-block; 
	padding-left: 7px; 
	width: 200px; 
	height: 50px;
	font-size: 10px;
}

.menuform span.icon_txt_fld {
	margin-left: 10px;
}

.menuform input[type="radio"] {
	margin-bottom: 15px;
}

.menuform select {
	margin-bottom: 15px;
}

.menuform textarea {
	width: 550px;
	height: 200px;
}

#editmenu_form {
	display: none;
}
	
.menucolor_1 {
	width: 150px;
	height: 30px;
	display: inline-block;
}

.cs_menucolor_2 {
	width: 38px;
	height: 20px;
	display: inline-block;
}

.icon_fld_box {
	float: left;
	width: 96%;
	height: 316px;
	overflow-y: scroll;
	padding-top: 25px;
	padding-bottom: 25px;
	border: solid 1px #e1e1e1;
	margin-bottom: 20px;
}

.def_button , .def_button_msg {
	position: relative;
	padding: 0;
	margin: 0;
	margin-top: 16px;
	background-color: #FC660A;
	text-align: left;
	-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
	font-family: helvetica;
	font-size: 14px;
	display: inline-block;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
	height: 30px;
	line-height: 100%;
}

.def_button a, .def_button_msg a{
	padding: 0px 20px 0px 20px;
	color: #F1FFFF;
	text-decoration: none;
	display: inline-block;
}

.def_button:hover, .def_button_msg:hover {
	background-color: #EF5A09;
}

.def_button span.def_button_name, .def_button_msg span.def_button_name {
	padding-top: 8px;
	float: left;
	display: inline-block;
}

.def_button span.oi, .def_button_msg span.oi  {
	float: right;
	padding-top: 7px;
	padding-left: 42px;
	display: inline-block;
}

.def_button_msg span.oi {
	padding-left: 14px;
}




/* Menu */
 
	#menu ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		width: 100%;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		border-right: 1px solid #505761;
	}
	
	#menu h1 {
		margin: 0;
		padding: 0;
		font-size: 20px;
		text-align: center;
		color: #FFFFFF;
		padding-top: 10px;
	}
	
	#menu >ul>li:first-child {
		height: 140px;
	}
	
	#menu >ul>li {
		background-color: #404040;
		background: rgba(99,106,117,1);
		background: -moz-linear-gradient(top, rgba(99,106,117,1) 0%, rgba(65,72,81,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(99,106,117,1)), color-stop(100%, rgba(65,72,81,1)));
		background: -webkit-linear-gradient(top, rgba(99,106,117,1) 0%, rgba(65,72,81,1) 100%);
		background: -o-linear-gradient(top, rgba(99,106,117,1) 0%, rgba(65,72,81,1) 100%);
		background: -ms-linear-gradient(top, rgba(99,106,117,1) 0%, rgba(65,72,81,1) 100%);
		background: linear-gradient(to bottom, rgba(99,106,117,1) 0%, rgba(65,72,81,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636a75', endColorstr='#414851', GradientType=0 );
	}
	
	#menu >ul>li>span {
		display: block;
		line-height: 36px;
		color: white;
		font-weight: bold;
		margin-left: 10px;
	}
	
	#menu >ul>li:first-child>span {
		color: white;
		height: 0;
		padding-top: 48px;
	}
	
	#menu a {
		display: block;
		width: 100%;
		line-height: 36px;
		background-color: white;
		border-bottom: solid 1px #E5E5E5;	
		text-decoration: none;
		color: #5E5E62;		
	}
	
	#menu a:hover {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f47344+0,e5570b+100 */
background: #f47344; /* Old browsers */
background: -moz-linear-gradient(top, #f47344 0%, #e5570b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f47344 0%,#e5570b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f47344 0%,#e5570b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47344', endColorstr='#e5570b',GradientType=0 ); /* IE6-9 */
		color: white;
		font-weight: bold;
		border-bottom: none;
		border-bottom: solid 1px #E2440B;
	}
	
	#menu a span {
		margin-left: 10px;
	}
	
	#menu a span.oi {
		margin: 0;
		font-size: 10px;
		margin-right: 12px;
	}
	
	#menu span.oi {
		margin: 0;
		font-size: 12px;
		margin-right: 12px;
	}
	
	#menu >ul>li>ul>li:last-child a {
		border-bottom: 1px solid #505761;
	}






.configtable {
	margin:0px;padding:0px;
	width:100%;
	border-bottom:1px solid #D8D8D8;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.configtable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.configtable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.configtable td:first-child {
	min-width: 124px;
}
.configtable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.configtable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.configtable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.configtable tr:hover td{
	background-color:#EEEEEE;
}
.configtable tr:nth-child(odd){ background-color:#F9FAFB; }
.configtable tr:nth-child(even)    { background-color: #FFFFFF; }.configtable td{
	vertical-align:left;
	
	
	border:1px solid #D8D8D8;
	border-width:0px 0px 1px 0px;
	text-align:left;
	padding:14px;
	font-size:13px;
	font-family:Open Sans;
	font-weight:normal;
	color: #4F5255;
}.configtable tr:last-child td{
	border-width:0px 0px 0px 0px;
}.configtable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.configtable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.configtable tr:first-child td{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f95e7+0,1d85ce+100 */
background: rgb(16,149,218); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(16,149,218,1) 0%, rgba(0,115,174,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(16,149,218,1) 0%,rgba(0,115,174,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(16,149,218,1) 0%,rgba(0,115,174,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1095da', endColorstr='#0073ae',GradientType=0 ); /* IE6-9 */


	border-bottom:1px solid #0D598E;
	text-align:left;
	font-size:13px;
	font-family:Open Sans;
	font-weight:bold;
	color:#ffffff;
}
.configtable tr:first-child:hover td{
	
}
.configtable tr:first-child td:first-child{
	border-width:0px 0px 0px 0px;
	border-bottom:1px solid #0D598E;
}
.configtable tr:first-child td:last-child{
	border-width:0px 0px 0px 0px;
	border-bottom:1px solid #0D598E;
}

.configtable a {
	text-decoration: none;
	color: #00B0EA;
	font-size:13px;
	font-family:Open Sans;
	margin-right: 10px;
	display: inline-block;
}

.configtable a:hover {
	color: #0483EF;
	font-size:13px;
	font-family:Open Sans;
}






 .button
    {        
        display: inline-block;
        white-space: nowrap;
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-image: linear-gradient(top, #eee, #ccc);
        border: 1px solid #777;
        padding: 0 1.5em;
        margin: 0.5em;
        font: bold 13px/2em Arial, Helvetica;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        
    }
    
    .button:hover
    {
        background-color: #eee;        
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        background-image: linear-gradient(top, #fafafa, #ddd);
    }
    
    .button:active
    {
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
    }
    
    .button:focus
    {
        outline: 0;
        background: #fafafa;
    }    
    
    .button:before
    {
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;        
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -moz-border-radius: .15em 0 0 .15em;
        -webkit-border-radius: .15em 0 0 .15em;
        border-radius: .15em 0 0 .15em;     
        pointer-events: none;		
    }
	
	/* Buttons and inputs */
	
	button.button, input.button 
	{ 
		cursor: pointer;
		overflow: visible; /* removes extra side spacing in IE */
	}
	
	/* removes extra inner spacing in Firefox */
	button::-moz-focus-inner 
	{
	  border: 0;
	  padding: 0;
	}
	
	/* If line-height can't be modified, then fix Firefox spacing with padding */
	 input::-moz-focus-inner 
	{
	  padding: .4em;
	}

	/* The disabled styles */
	.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover 
	{
		background: #eee;
		color: #aaa;
		border-color: #aaa;
		cursor: default;
		text-shadow: none;
		position: static;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;		
	}
    
    /* Hexadecimal entities for the icons */
    
    .add:before
    {
        content: "\271A";
    }
    
    .edit:before
    {
        content: "\270E";        
    }
    
    .delete:before
    {
        content: "\2718";        
    }
    
    .save:before
    {
        content: "\2714";        
    }
    
    .email:before
    {
        content: "\2709";        
    }
    
    .like:before
    {
        content: "\2764";        
    }
    
    .next:before
    {
        content: "\279C";
    }
    
    .star:before
    {
        content: "\2605";
    }
    
    .spark:before
    {
        content: "\2737";
    }
    
    .play:before
    {
        content: "\25B6";
    }


	/* Social media buttons */	
	.tw, .fb,
	.tw:hover, .fb:hover
	{
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0)));
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
        background-image: -moz-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
        background-image: -ms-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
        background-image: -o-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
        background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
	}

	.tw, .tw:focus
	{
	  background-color: #88E1E6;
	}
	
	.fb, .fb:focus
	{
	  background-color: #3C5A98;
	  color: #fff;	  
	  text-shadow: 0 1px 0 rgba(0,0,0,.4);		
	}

	.tw:hover
	{
	  background-color: #b1f0f3;
	}
	
	.fb:hover
	{
	  background-color: #879bc3; 
	}
	
    .tw:before
    {
        content: "t";
        background: #91cfd3;
        background: rgba(0,0,0,.1);		
		color: #fff;
		font-family: verdana;
		text-shadow: 0 1px 0 rgba(0,0,0,.4);
    }
    
    .fb:before
    {
        content: "f";
        background: #4467ac;
        background: rgba(0,0,0,.1);		
		color: #fff;	
		text-shadow: 0 1px 0 rgba(0,0,0,.4);
    }


.columntitle {
	float:left;
	display: inline-block;
	width: 100%;
	height: auto;
	font-style: italic;
	font-size: 11px;
}

.columntitle_left {
	float:left;
	display: inline-block;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6D7379;
}

.columntitle_right {
	float:right;
	display: inline-block;
	height: auto;
	padding-right: 129px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6D7379;
}
	
.column_dragbox {
	margin-right:.10px;
	float:left;
	width: 202px;
	min-height: 400px;
	background-color: #F7F7F7;
	font-size: 13px;
	color: #48494E;
	border: 1px dashed #9F9F9F;
	border-left: none;
}

.column_dragbox:first-child {
	border-left: 1px dashed #9F9F9F;
}

.column_dragbox:last-child {
	border-left: 1px dashed #9F9F9F;
}

.column_dragbox span {
	padding-left: 10px;
}

.column .dragbox-menu {
	position:relative;
}

.dragbox-button {
	margin: 10px;
	border: 1px solid #CACACA;
	width: 180px;
	line-height: 50px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,e2e2e2+100 */
background: rgb(241,241,241); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

cursor:move
}
.column_dragbox  .placeholder{
	margin: 10px;
	background: #f0f0f0;
	border:1px dashed #ddd;
	width: 178px;
	height: 60px;
}


.link_back{
	display: inline-block;
	padding-bottom: 14px;
}

#map {
	position: relative;
	float: left;
	width: 800px;
	height: 380px
}

#legenda {
	position: relative;
	float: left;
	width: 200px;
	padding-left: 12px;
}



.legenda_left {
	position: relative;
	float: left;
	width: 75px;
	height: auto;
}

.legenda_right {
	position: relative;
	float: left;
	width: 100px;
	height: auto;
}

.legenda_right ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.legenda_right li {
	margin-bottom: 5px;
}

.legenda_right input {
	padding: 0;
	margin: 0;
}

.legenda_right form {
	border: 0;
	padding: 0;
	margin: 0;
}

.color {
	position: relative;
	float: left;
	clear: both;
	width: 50px;
	height: 30px;
	margin-bottom: 5px;
}









